body {
  font-family: monospace;
  margin-top: 2rem;
}

.app {
  margin: 0 auto;
  width: 50%;
  border: 1px dashed;
  padding: 2rem;
}

.header {
  display: inline-block;
  width: 100%;
}

h1 {
  margin: 0;
}

.app-name {
  font-style: italic;
  color: blue;
  float: left;
}

textarea {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  resize: none;
  margin-bottom: .2rem;
  margin-right: 1rem;
}

.login {
  margin-top: 1rem;
}

.logout {
  float: right;
  text-align: right;
}

a {
  color: blue
}

.delete > a {
  color: red;
  margin-left: .5rem;
}

ul {
  padding-inline-start: 1em;
}
